// ------------- COLORES PRINCIPALES
$color1: #0D0D0D;
$color2: #262626;
$color3: #595959;
$color4: #BFBFBF;
$color5: #F2F2F2;

// SOLO SE DEBEN USAR LAS CLASES PARA CAMBIAR COLORES, EL COLOR POR DEFECTO YA ESTÁ DEFINIDO

.color-1 { color: $color1; }
.color-2 { color: $color2; }
.color-3 { color: $color3; }
.color-4 { color: $color4; }
.color-5 { color: $color5; }

.titulo1 { color: $color1; }
.titulo2 { color: $color2; }

.texto1 { color: $color2; }
.texto2 { color: $color3; }

.link1 { color: $color3; }
.link2 { color: $color4; }

.bgColor-1 { background-color: $color1; }
.bgColor-2 { background-color: $color2; }
.bgColor-3 { background-color: $color3; }
.bgColor-4 { background-color: $color4; }
.bgColor-5 { background-color: $color5; }
