@import "../resources/colors.scss";
@import "../resources/animation.scss";

.footer {
  position: absolute;
  width: 100%;
  height: 77px;
  max-width: 1024px;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  background: url('../assets/img/backgrounds/fondo-footer-1.png');
  background-position-y: bottom;

  &:before {
    content: '';
    position: absolute;
    top: -26px;
    left: -20px;
    width: 1048px;
    height: 150px;
    background: url('../assets/img/backgrounds/fondo-footer-2.png');
    background-repeat: no-repeat;
  }

  .restrict {
    position: absolute;
    z-index: 2;
    bottom: 14px;
    right: 288px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    filter: brightness(0.5);
  }

  .labelFooter {
    position: absolute;
    width: auto;
    top: 38px;
    left: 210px;
  }

  .imageFooter {
    position: absolute;
    bottom: 13px;
    right: 17px;
    margin: 0 auto;
    pointer-events: none;
  }

  .buttonPannel {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 16px;
    right: 291px;
    width: 117px;

    .buttonNav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: $blanco;
      border-radius: 50%;
      border: 3px solid $titulo1;
      text-align: center;
      box-shadow: 0 3px 10px -4px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      outline: none;
      transition: all 0.4s;

      .iconButton {
        pointer-events: none;
        color: $titulo1;
        &:hover {
          color: $blanco;
        }
      }

      &:hover {
        box-shadow: 0 8px 12px -5px rgba(0, 0, 0, 0.6);
        background-color: $titulo1;
        .iconButton {
          color: $blanco;
        }
      }
    }
  }

  .numberPage {
    position: absolute;
    top: 25px;
    left: 25px;
  }
}

.animationBtnNav {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.footer-desc {
  position: absolute;
  display: none;
  width: 100%;
  height: 50px;
  max-width: 1024px;
  bottom: 0px;
  left: 0px;
}
